{% import 'macros.html' as macro%}
{% extends 'base.html'%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}0
<!-- Content block -->
{% block content %}
<div class = "container">
        <div class ="row">      
        <!-- General News section  -->
        <h3> General News </h3>
         <ul>
            {{ macro.displayNewsList(general)}}
        </ul>
        </div> 

        <div class ="row"> 
        <!-- Entertainment News section  -->
        <h3>Entertainment News</h3>
         <ul>
            {{ macro.displayNewsList(entertainment )}}
        </ul>
        </div> 

        <div class ="row"> 
        <!-- Science News section  -->
        <h3>Science News</h3>
         <ul>
            {{ macro.displayNewsList(science)}}
        </ul>
        </div>> 
</div>
{% endblock%}