{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <!-- Content block -->
        {% block content %}     
        <!-- General News section  -->
        <h3> General News Source</h3>
         <ul>
            {{ macro.displayNewsList(general)}}
        </ul>
        <!-- Entertainment News section  -->
        <h3>Entertainment Source</h3>
         <ul>
            {{ macro.displayNewsList(entertainment )}}
        </ul>
        <!-- Science News section  -->
        <h3>Science Source</h3>
         <ul>
            {{ macro.displayNewsList(science)}}
        </ul>
        {% endblock%}
    </body>
</html>