{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
    <div class="col-md-4">
            <div class="card card-inverse" style="background-color:rgb(67, 78, 78); border-color: rgb(202, 201, 211);">
                    <div class="card-block">
        <h3>{{ news.name}}</h3>
        <p >{{ news.description | truncate(100)}}</p>
        <a href="/articles/{{news.id}}" class="btn" style="color: rgb(221, 24, 24); background-color: rgb(1, 1, 2);">See more from this site</a>
        </div>
        </div>
        </div>
    {% endfor %}

{% endmacro %}